# Testing Results

## Test 1

Light moved to left.

Result:

Horizontal motor rotated left.

Status:

PASS

---

## Test 2

Light moved to right.

Result:

Horizontal motor rotated right.

Status:

PASS

---

## Test 3

Light moved upward.

Result:

Vertical motor tilted upward.

Status:

PASS

---

## Test 4

Light moved downward.

Result:

Vertical motor tilted downward.

Status:

PASS

---

Overall Result

The dual-axis solar tracker successfully tracks the direction of maximum light intensity.
